*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.header{
	width: 100%;
	background: #F5F7FA;
	position: sticky;
	top: 0;
	
}
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;

}
.container-all-item{
	display: flex;
}
.logo{
	flex-basis: 20%;

}
.logo img{
	width: 100px;
}
.menu-var{
	flex-basis: 60%;
}
.menu-var ul{
	
}
.menu-var li{
	padding: 15px 10px;
	list-style: none;
	display: inline-block;
}
.menu-var a{
	color: #1e266d;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	transition: .5s;
	display: inline-block;
	padding-left: 8px;

}
.menu-var a:hover{
	color: black;
	transform: scale(1.2);
	transition: .5s;
	display: inline-block;
}
.login-part{
	flex-basis: 20%;
	margin: auto;
}
.login-part a{
	color: white;
	background: darkblue;
	padding: 10px 20px;
	transition: .5s;
}
.login-part a:hover{
	background: skyblue;
	transition: .5s;
}
.sub-menu-bar{
	display: none;
}
.menu-var ul li:hover .sub-menu-bar{
	display: block;
	position: absolute;
	background: #F5F7FA;
	margin-top: 10px;
	margin-left: -65px;
}
.menu-var ul li:hover .sub-menu-bar ul li{
	display: block;
	text-align: center;
	padding: 0 35px;

}


/* header Part End */

/* Brance part Start */

.brance-title{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 80px;

}
.bran-tit-container{
	width: 1140px;
	margin: auto;
}
.bran-tit-contant{
	display: flex;
}
.bran-tit-left{
	flex-basis: 50%;
	margin-top: 10px;
}

.bran-tit-right{
	flex-basis: 50%;
}
.bran-tit-right ul{
	display: flex;
	list-style: none;
	float: right;
	border: .1px solid silver;
	padding: 10px 0;
}
.all-courses{
	background: darkblue;
	color: white;
	padding: 10px 10px 10px 20px;
}
.bran-location{
	padding: 10px 10px;
}
.bran-location:hover{
	background: darkblue;
	color: white;
}



/* Brance part End */


/* course title part Start */

.course-title{
	width: 100%;

}
.cour-container{
	width: 1140px;
	margin: auto;
	margin-bottom: 50px;
}
.cour-header h2{
	font-size: 28px;
	line-height: 36px;
	color: #1e266d;
	padding: 20px 0 30px;
}
.cour-inf{
	display: flex;
}
.ab{
	flex-basis: 20%;
	text-align: center;
	background: #F7F7F7;
	margin: 5px 5px;
	padding-top: 25px;
	padding-bottom: 50px;
	border-radius: 8px;
}
.ab img{
	max-width: 100%;
	width: 80px;
	display: block;
	margin-left: 71px;
	margin-bottom: 20px;
}

/* course title part  End */




/* Banani Campus Offered Courses  Start */

.banani-offered{
	width: 100%;
	margin-bottom: 180px;
}
.ba-of-container{
	width: 1140px;
	margin: auto;
}

.ba-of-contant{
	margin: 50px 0;
}

.ba-of-campus-courses h2{
	font-size: 28px;
	line-height: 36px;
	color: #1e266d;
	padding: 20px 0 30px;
}
.ba-of-fullpart{
	display: flex;
}
.ba-of-left{
	flex-basis:33.33%;
	background-image: url('img/1973823540.png');
	margin-right: 15px;
	height: 200px;
}
.nd{
	float: right;
	margin-right: 20px;
	background: #FEB52B;
	color: white;
	padding: 8px 15px;
	border-radius: 0 0 8px 8px;
	font-weight: 500;
}
.rd{
	float: right;
	margin-right: 20px;
	background: #4FC68D;
	color: white;
	padding: 8px 15px;
	border-radius: 0 0 8px 8px;
	font-weight: 500;
}
.ba-of-full-stack{
	width: 85%;
	margin: auto;
	background: silver;
	padding: 15px 10px;
	margin-top: 170px;
	border-radius: 10px;
	transition: .5s;
}
.ba-of-full-stack:hover{
	margin-top: 180px;
	transition: .5s;
}
.ba-of-full-stack h2{
	font-size: 18px;
	margin-left: 10px;
	margin-bottom: 25px;
	
}
.full-stack-information{
		margin-left: 10px;	
}
.full-stack-teacher ul{
		list-style: none;
		display: flex;
}
.sohag{
	margin-left: 4px;
	color: green;
}
.class-hours ul{
		list-style: none;
		padding-top: 5px;
		display: flex;
}
.hours{
	padding-left: 18px;
}
.seats{
	padding-right: 90px;
}
.enroll{
	border: 1px solid blue;
	padding: 10px 15px;
	color: blue;
	border-radius: 30px;
}
.enroll:hover{
	background: #007bff;
	border: none;
	color: white;
	cursor: pointer;
}

.middle{
	background: url('img/1955206587.png');
}
.right{
	background: url('img/631413711.png');
}
.nd-left{
	background: url('img/2056590566.png ') no-repeat;
	background-size: 370px;
}
.nd-middle{
	background: url('img/1973823540.png');
}
.nd-right{
	background: url('img/1955206587.png');
}
.rd-left{
	background: url('img/1184368754.jpg') no-repeat;
	background-size: 370px;
}
.rd-middle{
	background: url('img/2102572322.png');
}
.rd-right{
	background: url('img/653566556.png');
}
.on-left{
	background: url('img/1973823540.png') no-repeat;
	
}
.on-middle{
	background: url('img/1364688980.png');
}
.on-right{
	background: url('img/1955206587.png');
}
.mn-left{
	background: url('img/576995406.jpg') no-repeat;
	background-size: 370px;
}
.mn-middle{
	background: url('img/2127960201.png') no-repeat;
	background-size: 370px;
}
.mn-right{
	background: url('img/706772794.png') no-repeat;
	background-size: 370px;
}
.margin{
	margin-bottom: 250px;
}


/* Banani Campus Offered Courses  Start */



/* Address part Start */

.address{
	width: 100%;

}
.add-container{
	width: 1140px;
	margin: auto;
	
}
.add-contant{
	background: #2E367D;
	color: white;
	display: flex;
	border-radius: 8px;
	margin-bottom: 60px;
	padding: 100px 60px 80px 60px;
}
.add-left{
	flex-basis: 50%;
}
.add-right{
	flex-basis: 50%;
}
.add-contant p{
	font-weight: 400;
	line-height: 1.9;
	font-size: 16px;
}


/* Address part End */


/* Footer part start */


.footer{
	width: 100%;

}
.foot-container{
	width: 1140px;
	margin: auto;
	margin-bottom: 50px;
}
.foot-contant{
	display: flex;
}
.shikbe-shobai{
	flex-basis: 25%;
	padding-right: 10px;

}
.shikbe-shobai h6{
	color: #1e266d;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: 700;
}
.lets-connect{
	flex-basis: 25%;
	margin-left: 30px;
	padding-right: 10px;

}
.lets-connect h6{
	color: #1e266d;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: 700;
}
.usefull-link{
	flex-basis: 25%;
	margin-left: 30px;
}
.usefull-link h6{
	color: #1e266d;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: 700;
}
.usefull-link ul{
	list-style: none;
}
.usefull-link a{
	color: #91a3bb;
	line-height: 1.9;
	transition: .5s;
}
.usefull-link a:hover{
	color: #1e266d;
	margin-left:8px;
	transition: .5s;
}
.social-link{
	flex-basis: 25%;
	margin-left: 30px;
}
.social-link h6{
	color: #1e266d;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: 700;
}
.social-link ul{
	list-style: none;
}
.social-link a{
	color: #91a3bb;
	line-height: 1.9;
	transition: .5s;
}
.social-link a:hover{
	color: #1e266d;
	margin-left:8px;
	transition: .5s;
}
.shikbe-shobai p,
.lets-connect p{
	color: #91a3bb;
	font-weight: 400;
	line-height: 1.9;

}

.a{
	font-size: 26px;
	margin-bottom: 30px;
	margin-top: 0;
	background: darkblue;
	padding: 12px 30px;
	color: white;
	border-radius: 8px;
	margin-right: 10px;

}
.b{
	font-size: 26px;
	margin-bottom: 30px;
	margin-top: 0;
	background: darkblue;
	padding: 12px 30px;
	color: white;
	border-radius: 8px;
	background: #D4236A;
}
.a:hover{

	background: skyblue;
}
.b:hover{
	background: pink;
}

/* Footer part End */

.about-us{
	width: 100%;

}
.about-container{
	width: 1140px;
	margin: auto;
}
.dis-f{
	font-size: 28px;
	margin-top: 40px;
	font-weight: 700;
	padding: 20px 0 30px;
	color: #1e266d;
}
.des-g{
	color: #333;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	margin-bottom: 30px;
}
.dis-c{
	color: #333;
	font-size: 26px;
	margin-bottom: 20px;
	line-height: 14px;
	font-weight: 700;
}
.dis-e{
	font-size: 20px;
	margin-bottom: 150px;
	line-height: 24px;
	color: #0c2f54;
	font-weight: 700;
	text-align: center;

}
.payment{
	width: 100%;
}
.pay-container{
	width:1140px;
	margin: auto;
}
.pay-contant img{
	max-width: 100%;
}
.me{
	padding: 40px 40px;
	font-size: 16px;
	text-align: center;
	color: #91a3bb;
}




